/* style.css */

body {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: #1F2937;
    color: azure;
    min-height: 150px;
}

.logo {
    max-width: auto;
    max-height: 90px;
    justify-content: flex-start;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px; 
    font-weight: 700px;
}

.random {
    background-color: azure;
    min-height: 300px;
}

